/* Created by: kyle.matthew.magnaye
 * Created on: Feb 2025
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: rgb(71, 5, 5);
}

h1 {
  background-color: rgb(90, 162, 218);
  color: hsl(62, 81%, 46%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: rgb(98, 5, 81);
}
